
<div class="bloc">
  <div class="you" style="background-color: grey">
  <p>-You</p>
    <p><%=@answer%></p>
  </div>
  <div class ="coach" style="background-color: grey">
  <p>-Your coach</p>
    <p><%=@coach%></p>
  </div>
</div>

<a href="<%= ask_path %>" class="question"> Ask a new question </a>
