<form action="/answer" method="get"class="form-inline">
  <input type="text" name="answer" class="form-group"
    placeholder="Ask something">
  <input type="submit" class="btn btn-primary form-group">
</form>
